<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=
            "width=device-width, initial-scale=1.0">
    
    <title>
        Penlock sign
    </title>

    <style>
        html,body{
            overflow:hidden;

            height:100%;
        }
        #canvas{
            border: 3px solid black
        }
    </style>


</head>
<body>
    <canvas id="canvas">
    </canvas>  <script src="{{ url_for('static', filename='js/canvas.js') }}"></script>

        <div class="nav">

      <button>Open!</button>
    </div>
</body>

</html>
